.navbar{
    width: auto;
    height: 50px;
}


.navbar-brand{
    color: orange;
    font-weight: bold;
    font-size: small;
    padding: 5px;
    margin: 15px;
}

.navbar-brand img {
    filter: invert(1); 
  }
