.navbar{
  width: auto;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}


.nav-link{
  color: orange;
  font-weight: bold;
  font-size:smaller;
  padding: 5px;
  margin: 15px;
  animation-duration: 5s;
  animation: reverse;
}

.nav-item:hover{
  transform: translateY(-2px);
}

.nav-item-left img{
  filter: invert(1);
  margin-right: 5px;
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}

.image-container img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  position:relative;
}

.image-container{
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.nav-item-right{
  animation-name: slideFromRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

.nav-item-left{
  animation-name: slideFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

.container-fluid{
  animation-name: slideFromDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card {
    display: inline-block;
    height: 400px;
    width: 300px;
    margin-top: 50px;
}
  .card-header {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: smaller;
    height:50px;
  }
  
  .card-body {
    background-color: white;
    color: black;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .card-text {
    font-size: smaller;
    text-align: justify;
  }
  
  .container-fluid {
    padding: 0;
  }

  .additional-content {
    display: none;
}

.modal-header{
  background-color: orange;
  color: white;
}

.modal-body textarea{
  height: 200px;
}
  

  #card-info{
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-top: 0px;
  }

@keyframes slideFromRight{
  from{
    transform: translateX(900px);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes slideDown{
  from{
      transform: translateY(-500px);
  }
  to{
      transform: translateY(0);
  }
}

@keyframes slideFromLeft{
  from{
    transform: translateX(-900px);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes slideFromDown{
  from{
      transform: translateY(500px);
  }
  to{
      transform: translateY(0);
  }
 }
 @font-face {
   font-family: "SecularOne-Regular";
   src: url(/fonts/SecularOne-Regular.ttf) format("truetype");
 }

#AboutUsText{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  text-align: center;
  font-family: "SecularOne-Regular",sans-serif;
  font-size: 30px;
}

#AboutUsText-2{
  width: 500px;
  border-bottom: 4px solid orange;
}


#ValuesDiv,#HistoryTextDiv,#AlgebraGroupDiv,#DirectionsDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  background-color:white;
  font-family: "SecularOne-Regular",sans-serif;
  font-size: 30px;
}

#ValuesDiv img,#HistoryTextDiv img,#AlgebraGroupDiv img, #DirectionsDiv img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

#ValuesContainer,#HistoryText,#AlgebraGroupText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: auto;
  height: 100px;
  background-color:#f2f2f2;
  padding: 200px;
  font-family: Arial, Helvetica, sans-serif;
  }

  #ValuesText-1,#ValuesText-2,#HistoryText-1,#HistoryText-2,#AlgebraGroupText-1,#AlgebraGroupText-2{
    width: 800px;
    height: 500px;
    margin:10px;
    text-align: justify;
  }

 #CardGridContainer-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }


#card-pic img{
  width: 100px;
  height: 100px;
  position: relative;
}

#certification-cards-top img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 75%;
  height: 50%;
}

#certification-cards-bottom img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 75%;
  height: 50%;
}

#DirectionsCards{
  background-image: url(img/kakoDoNas.jpg);
  height: 750px;
}

#FooterPicContainer{
  height: 350px;
  position: relative;
  overflow: hidden;
  padding: 0px;
  align-content: center;
}

#FooterPicContainer img{
  width: 100%;
  height: 600px;
  object-fit:cover;
  position:relative;
}

#FooterPicContainer h1{
  position: absolute;
  color: white;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}