.navbar {
  width: auto;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-link {
  color: orange;
  font-weight: bold;
  font-size: smaller;
  padding: 5px;
  margin: 15px;
  animation-duration: 5s;
  animation: reverse;
}

.nav-item:hover {
  transform: translateY(-2px);
}

.nav-item img {
  filter: invert(1);
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.additional-content {
  display: none;
}

.modal-header {
  background-color: orange;
  color: white;
}

.modal-body textarea {
  height: 200px;
}

.nav-item{
  animation-name: slideFromTop;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

#typingVideo {
  position: relative;
}

#videoContainer{
  margin: 0;
  padding: 0;
}

@keyframes slideFromTop{
  from{
    transform: translateY(-200px);
  }
  to{
    transform: translateY(0);
  }
}
