.navbar{
    width: auto;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .additional-content {
    display: none;
  }
  
  .nav-link{
    color: orange;
    font-weight: bold;
    font-size:smaller;
    padding: 5px;
    margin: 15px;
    animation-duration: 5s;
    animation: reverse;
  }
  
  .nav-item:hover{
    transform: translateY(-2px);
  }

  .nav-item{
    animation-name: slideDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
  }

  .nav-item img{
    filter: invert(1);
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    height: 250px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    align-content: center;
    margin-top: 200px;
  }

  
  .image-container img{
    width: 100%;
   height: 600px;
   object-fit:cover;
   position:relative;
   }

  .image-container h1{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .modal-header{
    background-color: orange;
    color: white;
  }
  
  .modal-body textarea{
    height: 200px;
  }

  .image-container{
    animation-name: slideFromBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
  }

  .container{
    animation-name: loadingAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
  }

  #SubjectsDiv{
    animation-name: loadingAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
  }

  #SubjectsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    text-align: center;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  #SubjectsDiv-2{
    width: 500px;
    border-bottom: 4px solid orange;
  }

  #labelKolegij{
    font-weight: bold;
    margin-bottom:10px ;
  }

  @keyframes slideDown{
    from{
        transform: translateY(-500px);
    }
    to{
        transform: translateY(0);
    }
  }

  @keyframes slideFromTop{
    from{
      transform: translateY(-200px);
    }
    to{
      transform: translateY(0);
    }
  }

  @keyframes slideFromBottom{
    from{
      transform: translateY(800px);
    }
    to{
      transform: translateY(0);
    }
  }

  @keyframes loadingAnimation{
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
  }